[submodule "cmake-modules/sanitizers-cmake"]
	path = cmake-modules/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "cmake-modules/Lua"]
	path = cmake-modules/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "cmake-modules/Box2D"]
	path = cmake-modules/Box2D
	url = https://github.com/erincatto/box2d
[submodule "cmake-modules/pugixml"]
	path = cmake-modules/pugixml
	url = https://github.com/zeux/pugixml.git
