[submodule "cmake-modules/sanitizers-cmake"]
	path = cmake-modules/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "cmake-modules/Lua"]
	path = cmake-modules/Lua
	url = https://github.com/walterschell/Lua.git
